@import "tailwindcss";

@theme {
  --color-fb-cream: #EFEAD8;
  --color-fb-red: #C5211F;
  --color-fb-dark: #1E2936;

  --font-limelight: "Limelight", serif;
  --font-rokkitt: "Rokkitt", serif;
}

body {
  background-color: #EFEAD8;
  background-color: var(--color-fb-cream);
  position: relative;
  min-height: 100vh;
}